html,body {
	margin:0;
	padding:0;
	font-family:"Helvetica Neue","HelveticaNeue","Helvetica-Neue","Helvetica",sans-serif;
	color:#000;
}

a,a:visited,a:hover,a:focus {
	text-decoration:none;
}

#nav {
	padding:30px;
	background-color:#a9233e;
	font-weight:300;
	font-size:1.5em;
	color:#fff;
}

#nav span {
	font-weight:600;
	font-size:3em;
	text-transform:lowercase;
	letter-spacing:-2px;
}

#nav a, #nav a:visited {
	color:#fff;
}

#nav ul {
	display:block;
	margin-top:-50px;
	list-style:none;
	text-align:right;
	text-transform:uppercase;
}

#nav ul li {
	display:inline-block;
	list-style:none;
	margin-left:40px;
}

#nav ul li a,#nav ul li a:visited {
	opacity:.8;
}

#nav ul li a:hover {
	opacity:.9;
	transition:.4s ease all;
}

/*#000381*/