html {
	margin:0;
	padding:0;
	background-color:#eee;
	/*background-color:#fff;*/
}

body {
	margin:30px auto;
	padding:50px;
	max-width:60%;
	/*background-color:#F5F5DC;*/
	background-color:#fff;
	color:#000;
	font-family:"Open Sans",Roboto,sans-serif;
	line-height:150%;
}

a {
	text-decoration:none;
	border:none;
}

a:hover {
	border-bottom:2px solid #f5f5dc;
}

h1,h2,h3,h4,h5,h6 {
	font-family:Helvetica,Roboto,sans-serif;
	line-height:120%;
}

h1 {
	text-align:center;
	font-size:2.5em;
}

ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol > li {
    position:relative; /* Create a positioning context */
    margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    border-top:2px solid #666;
    background:#f6f6f6;
}
ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:-2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    border-top:2px solid #666;
    color:#fff;
    text-shadow:1px 1px 2px #000;
    background:palegoldenrod;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}


/*#toc li li {
	font-size:.95em;
}*/