/*
 * GENERAL
 */

*,
*::before,
*::after { box-sizing: border-box; }

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Montserrat", Helvetica, sans-serif;
}

a,
a:visited { text-decoration: none; }

h1, 
h2, 
h3, 
h4, 
h5, 
h6 { font-family: "Playfair Display", Bodoni, Didot, serif; }

#container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

/*
 * SIDEBAR
 */

header {
	position: fixed;
	width: 34%;
	height: 100%;
	padding: 40px;
	background-color: #fff;
	border-right: 1px solid #ddd;
}

header #logo {
	display: block;
	float: left;
	max-width: 100%;
	height: auto;
	margin-right: 20px;
	margin-bottom: 20px;
}

header h1,
header p {
	display: inline-block;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
}

header p { font-size: .9em; }

/*
 * NAV
 */

nav {
	position: relative;
	margin-top: 25%;
}

nav a,
nav a:visited {
	display: block;
	/*float: right;*/
	margin: 20px 0;
	font-family: "Montserrat", Helvetica, sans-serif;
	font-size: 1.2em;
	letter-spacing: 2px;
	text-align: right;
	color: #000;
	opacity: .8;
	-webkit-transition: .3s ease-in-out all;
	   -moz-transition: .3s ease-in-out all;
	     -o-transition: .3s ease-in-out all;
	        transition: .3s ease-in-out all;
}

nav a:hover,
nav a:active { color: #f46036; }

nav a.current {
	margin-right: -10px;
	color: #f46036;
	opacity: 1;
}

nav .current::before {
	display: inline-block;
	padding-right: 7px;
	color: #f46036;
	font-size: .8em;
	content: "\25B8  ";
}

@media only screen and (max-width: 600px) {
	nav {
		position: fixed;
		top: 30px;
		right: 30px;
		float: right;
		padding: 0;
		margin: 0;
		background-color: #f1f1f1;
		border: 1px solid #ddd;
		border-radius: 5px;
	}

	nav a {
		padding: 10px 20px;
		margin-top: 0;
		margin-bottom: 0;
		letter-spacing: 0;
	}

	nav a.current {
		border-radius: 5px;
		margin-right: 0;
	}

	nav .current::before {
		content: "\25BE  ";
	}

	nav a:not(.current) {
		display: none;
	}

	nav:hover a:not(.current) {
		display: block;
	}
}

/*
 * CONTENT
 */

#main {
	float: left;
	width: 66%;
	margin-top: 0;
	margin-left: 34%;
	background-color: #f1f1f1;
}

#main .project {
	width: 85%;
	padding: 30px;
	margin: 50px auto;
	background-color: #fff;
	border-radius: 5px;
}

#main .project h3,
#main .project h4 { text-align: center; }

#main .project h3 {
	width: 50%;
	padding: 10px;
	margin: 0 auto 20px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 1.5em;
	text-align: center;
}

#main .project h4 { margin-top: 0; }

#main .project p {
	width: 70%;
	margin: 0 auto 20px;
	line-height: 1.4;
	text-align: center;
}

#main .project img {
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
}

#main section:not(.current) { display: none; }

/* MEDIA QUERY */
@media only screen and (max-width: 600px) {
	#main {
		width: 100%;
		margin-top: 27%;
		margin-left: 0;
	}

	#main .project h3,
	#main .project p {
		width: 100%;
	}
}

/*
 * FOOTER
 */

footer {
	position: fixed;
	display: block;
	bottom: 0;
	padding: 20px;
	font-size: .8em;
	background-color: none;
}

/* MEDIA QUERY */
@media only screen and (max-width: 600px) {
	header {
		width: 100%;
		height: 27%;
		padding: 30px;
		border-right: 0;
		border-bottom: 1px solid #ddd;
	}

	footer {
		position: relative;
		display: inline-block;
		width: 100%;
		background-color: #f1f1f1;
	}
}