/****
$main: #f96262;
****/

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 1em 0;
	height: 100%;
	display: flex;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	line-height: 1.6;
	color: #27363b;
	/* background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%); */
	background-image: linear-gradient(-20deg, #ed6ea0 0%, #ec8c69 100%);
	background-attachment: fixed;
}
	@media(min-width: 700px) {
		body {
			padding: 3em 0;
		}
	}

a {
	text-decoration: none;
	color: #27363b;
	border-bottom: 2px solid #f96262;
	transition: 0.1s color linear;
}

a:hover {
	color: #f96262;
}

/****
CONTAINER
****/

.container {
	margin: auto;
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	background-color: #FFFFFD;
	border-radius: 5px;
	padding: 2em;
}

.container.card {
	width: 95%;
}
	@media(min-width: 800px) {
		.container.card {
			width: 55%;
			padding: 2em 3em;
		}
	}

.container.article {
	width: 95%;
}

/****
HEADER
****/

header.banner {
	grid-area: header;
	display: grid;
	grid-template-areas: 
		"logo"
		"bio"
		"nav";
	align-items: center;
	justify-content: center;
	text-align: center;
}
	@media(min-width: 800px) {
		header.banner {
			grid-template-areas: 
				"logo bio bio bio nav";
			justify-content: space-between;
			text-align: left;
		}
	}

header.banner a[href="/"] {
	border: 0;
}

.logo {
	grid-area: logo;
	margin: 0 auto 2em;
}
	@media(min-width: 800px) {
		.logo {
			margin: 0 1em 0;
		}
	}

.bio {
	grid-area: bio;
	text-align: center;
	line-height: 1;
}
	@media(min-width: 800px) {
		.bio {
			text-align: left;
		}
	}

.bio .name {
	display: block;
	margin: -0.2em auto 0.2em;
	font-size: 2em;
	font-weight: bold;
}

.nav {
	margin: 1em 0;
}
	@media(min-width: 860px) {
		margin: 0;
	}

/****
PROJECTS
****/

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.projects a {
	display: block;
	flex-basis: 30%;
	margin: 1em;
	border: none;
	background-color: rgba(0,0,0,0.05);
	text-align: center;
}

.projects h1 {
	margin-bottom: 0;
}

.projects figcaption {
	margin-bottom: 1em;
}

.project img {
	width: 100%;
}

/****
MAIN
****/

main {
	grid-area: main;
	padding: 1em 0;
	overflow: hidden;
}

article {
	width: 100%;
	margin: 1em auto 4em;
}
	@media(min-width: 580px) {
		article {
			width: 70%;
		}
	}
	@media(min-width: 900px) {
		article {
			width: 55%;
		}
	}

article .intro {
	padding: 1em;
	border: 1px solid currentColor;
}

article figure {
	max-width: 100%;
}

article figure.two img {
	float: left;
	width: 50%;
	margin-bottom: 0.4em;
}

article figure img {
	max-width: 100%;
}

article figcaption {
	background-color: rgba(0,0,0,0.05);
	padding: 0.5em;
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
}

.details {
	text-align: center;
}

.details .subtitle {
	display: block;
	font-size: 1rem;
	font-style: italic;
	font-weight: normal;
}

article figure {
	text-align: center;
}

article img {
	max-width: 100%;
}

article iframe {
	width: 100%;
	margin: 0.5em auto;
	padding: 0;
	border: 0;
	background: transparent;
}

.swot div {
	margin: 0.5em auto;
}

.swot dt {
	width: 7.5em;
	float: left;
	clear: left;
	text-align: right;
	font-weight: bold;
}

.swot dd {
	margin-left: 9.5em;
	text-indent: -1em;
}

.moodboard {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.moodboard img {
	padding: 1em;
	margin: 0 auto;
}

.spec {
	width: 65%;
	margin: 1em auto;
	text-align: center;
	table-layout: fixed;
}

.spec caption {
	border-bottom: 1px solid currentColor;
}

/****
FOOTER
****/

footer {
	grid-area: footer;
	text-align: center;
}

.platforms {
	margin: 0.5em 0;
	text-align: center;
}
	@media(min-width: 1200px) {
		margin: 0 auto;
	}

.banner nav a,
.platforms a {
	display: inline-block;
}

.platforms a:not(:last-child) {
	margin-right: .5em;
}
