body {
	background-image:url('../images/texture.jpg');
	font-weight:500;
}

ul {
	list-style:none;
	border:none;
	text-align:center;
	font-family:"Open Sans", "Helvetica", sans-serif;
	font-weight:500;
	margin-left:0%;
}

li {
	display:inline;
	cell-padding:20px;
	background:url('../images/nav-bulletlight.png') right no-repeat;
	font-size:22px;
}


a.nav {
	color:#7d7d7d;
	text-decoration:none;
	border:none;
	padding:10px;
	opacity:0.8;
	-webkit-transition:all 0.3s ease-in-out;
	text-transform:uppercase;
}

a.nav:hover {
	border-bottom:4px solid #92754e;
	opacity:1;
}
