body {
	margin:0px;
}

#themes {
	background:url('../images/fabric_of_squares_gray.png');
}
	#themes button {
		margin:5px;
		padding:5px 10px;
		background:#92754e;
		color:#fff;
		-webkit-border-radius:4px;
		border:1px solid #9c825f;
		-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4), 0 1px 1px rgba(0,0,0,0.2);
		-webkit-transition:all 0.1s ease-in-out;
	}
	#themes button:hover {
		cursor:pointer;
		background:#745d3e;
		border:1px solid #836946;
		text-decoration: none;
	}
	#themes button:active {
		-webkit-box-shadow:inset 0 1px 4px rgba(0, 0, 0, 0.6);
		background:#665136;
		border:1px solid #745d3e;
	}

#home {
	background:url('../images/fabric_of_squares_gray.png');
	padding:125px 0 280px 0;
}
	#home h1 {
		margin-top:15%;
		font-family:"HelveticaNeue-UltraLight", "HelveticaNeue-Light", sans-serif;
		font-weight:200;
		text-transform:uppercase;
		letter-spacing:10px;
		text-align:center;
		font-size:500%;
	}
	#home a.title {
		opacity:1;
		text-decoration:none;
		color:#92754e;
		-webkit-transition:all 0.3s ease-in-out;
	}
		#home a.title:hover {
			color:#000000;
			text-decoration:none;
			border:none;
		}
	#home ul {
		list-style:none;
		border:none;
		text-align:center;
		font-family:"Open Sans", "Helvetica", sans-serif;
		font-weight:400;
	}
	#home li {
		display:inline;
		cell-padding:20px;
		background:url('../images/nav-bulletdark.png') right no-repeat;
		font-size:22px;
	}
	#home a.nav {
		color:#7d7d7d;
		text-decoration:none;
		border:none;
		padding:10px;
		opacity:0.8;
		-webkit-transition:all 0.3s ease-in-out;
		text-transform:uppercase;
	}
		#home a.nav:hover {
			border-bottom:4px solid #92754e;
			opacity:1;
		}

#projects {
	background:#92754e;
	padding:80px 0;
	font-family:"Open Sans", "Helvetica", sans-serif;
	text-align:center;
}
	#projects h2 {
		font-family:"Cabin", "Helvetica", sans-serif;
		font-size:250%;
		color:#fff;
		text-transform:uppercase;
		letter-spacing:5px;
		text-align:center;
		text-shadow:2px 2px 5px #3a3a3a;
	}
	#projects table {
		margin:auto;
	}
	#projects ul {
		text-align:center; 
	}
	#projects .images li {
		display:inline;
	}
	#projects a img {
		border:none;
		padding:5px;
	}

.images a:after {
	content: attr(title);
}

/* By default, we tilt all our images -2 degrees */
.images img {
-webkit-transform: rotate(-2deg);
-moz-transform: rotate(-2deg);
}
 
/* Rotate all even images 2 degrees */
.images li:nth-child(even) img {
-webkit-transform: rotate(2deg);
-moz-transform: rotate(2deg);
}
 
/* Don't rotate every third image, but offset its position */
.images li:nth-child(3n) img {
-webkit-transform: none;
-moz-transform: none;
position: relative;
top: -5px;
}
 
/* Rotate every fifth image by 5 degrees and offset it */
.images li:nth-child(5n) img {
-webkit-transform: rotate(5deg);
-moz-transform: rotate(5deg);
position: relative;
right: 5px;
}
 
/* Keep default rotate for every eighth, but offset it */
.images li:nth-child(8n) img {
position: relative;
top: 8px;
right: 5px;
}
 
/* Keep default rotate for every eleventh, but offset it */
.images li:nth-child(11n) img {
position: relative;
top: 3px;
left: -5px;
}

/* Scale the images on hover, add transitions for smoothing things out, and ensure the hover appears on top */
.images a img:hover {
-webkit-transform: scale(1.25);
-moz-transform: scale(1.25);
position: relative;
z-index: 5;
}

/* Add drop shadows and smooth out the transition (Safari only) */
.images img {
-webkit-transition: -webkit-transform .15s linear;
-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
 
/* On hover, darken the shadows a bit */
.images a img {
-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
-moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}

.images img {
	background-color:#fff;
}
