*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

/* body {
	font-size: 40px;
} */

.diagram {
	width: 100%;
	height: 100%;
}

.node rect {
	fill: #fff;
}

.node_project rect {
	stroke: black;
}

.node_tag rect {
	stroke: none;
}

/* .connection {
	fill: none;
	stroke: #aaa;
} */

.expanded rect {
	fill: aliceblue;
}

path.highlighted {
	stroke: #5BB0E3;
}

g.highlighted text {
	fill: aliceblue;
}