*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 50px;
  font-family: "Work Sans", sans-serif;
  /* -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
  -moz-font-feature-settings: "kern" on, "liga" on, "calt" on;
  -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on;
  -ms-font-feature-settings: "kern" on, "liga" on, "calt" on;
  font-feature-settings: "kern" on, "liga" on, "calt" on;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
  text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* font-family: "CMU Typewriter Text", "monospace"; */
  /* font-family: "Crimson"; */
}

h1,
h2,
thead {
  color: #7b3924;
}

h3 {
  color: #ca836c;
}

table {
  width: 40%;
  margin: auto;
  border-spacing: 1.5em .5em;
  font-family: "PT Mono", monospace;
}

thead {
  font-weight: bold;
}

thead td {
  text-decoration: underline wavy;
}

table tr td:nth-of-type(2),
table tr td:nth-of-type(3),
table tr td:nth-of-type(4) {
  text-align: right;
}

td {
  padding: 0.2em;
}

.cell_highlight {
  background-color: #CA836C;
  background-color: #F19B7F;
}

section > :not(img) {
  min-width: 350px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  color: #ca836c;
}

/* INTRO */

section {
  padding: 8em 0;
}

.intro {
  text-align: center;
}

.intro-heading {
  font-size: 10vw;
  margin-top: 0;
  margin-bottom: 0;
}

.intro-subtitle {
  font-size: 3vw;
}

/* ARTICLE */

.dict {
  padding: 1em;
  background-color: #f9f9f9;
}

.ct-chart {
  position: relative;
  /* width: 150%; */
  max-width: 1200px;
}

.legend {
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: #fff;
  z-index: 1;
}

.series {
  margin-right: 1em;
}

.series::before {
  content: "";
  display: inline-block;
  width: .75em;
  height: .75em;
  border-radius: 50%;
  margin-right: .25em;
}

.series1::before {
  background-color: #d70206;
}

.series2::before {
  background-color: #f05b4f;
}

.ct-label {
  fill: rgba(0,0,0,.8);
  color: rgba(0,0,0,.8);
}

/* #punctuation foreignObject[x="10"]:nth-of-type(n + 27) {
  transform: translateX(48%);
}

#punctuation foreignObject[x="10"]:nth-last-of-type(n + 28) {
  transform: translateX(51%);
} */

#punctuation foreignObject:nth-of-type(n + 27) .ct-label.ct-vertical.ct-start {
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.cat {
  display: block;
  position: absolute;
}

.cat::before,
.cat::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  background-color: rgba(0,0,0,.5);
}

#meCat {
  /* writing-mode: sideways-lr; */
  writing-mode: tb;
  transform: rotateZ(180deg);
  left: 48%;
  top: 17%;
}

#themCat {
  /* writing-mode: sideways-rl;  */
  writing-mode: tb;
  left: 53%;
  bottom: 19.8%;
}

#meCat::before,
#meCat::after {
  height: 90%;
  left: 50%;
}

#meCat::before {
  top: -98%;
}

#meCat::after {
  bottom: -98%;
}

#themCat::before,
#themCat::after {
  height: 76%;
  left: 50%;
}

#themCat::before {
  top: -82%;
}

#themCat::after {
  bottom: -82%;
}

#punctuation foreignObject:nth-last-of-type(2) .ct-label.ct-horizontal.ct-end {
  justify-content: center;
  text-align: center;
  transform: translateX(-50%);
}

#punctuation foreignObject:last-of-type .ct-label.ct-horizontal.ct-end {
  justify-content: flex-end;
  text-align: right;
  transform: translateX(-100%);
}

/* h3:last-of-type,
h3:last-of-type + p {
  margin-left: 10%;
  line-height: 1;
}

h3:last-of-type {
  width: 30%;
  font-size: 2.5em;
  margin-top: 10%;
  margin-bottom: 0;
}

h3:last-of-type + p {
  width: 25%;
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: -18%;
} */

/* punctuation */
#punctuation .punctuation,
#punctuation .ct-series-a .ct-bar {
  stroke: #15096f;
}

/* emoticons */
#punctuation .emoticon,
#punctuation .ct-series-a .ct-bar:nth-of-type(1),
#punctuation .ct-series-a .ct-bar:nth-of-type(6),
#punctuation .ct-series-a .ct-bar:nth-of-type(26),
#punctuation .ct-series-a .ct-bar:nth-of-type(37),
#punctuation .ct-series-a .ct-bar:nth-of-type(38),
#punctuation .ct-series-a .ct-bar:nth-of-type(39),
#punctuation .ct-series-a .ct-bar:nth-of-type(40),
#punctuation .ct-series-a .ct-bar:nth-of-type(41) {
  stroke: #fec44f;
}

#punctuation .ct-series-a .ct-bar:nth-last-of-type(2),
#punctuation .ct-series-a .ct-bar:nth-last-of-type(4),
#punctuation .ct-series-a .ct-bar:nth-last-of-type(7),
#punctuation .ct-series-a .ct-bar:nth-last-of-type(9) {
  stroke: #fec44f;
}

/* emojis */
#punctuation .emoji,
#punctuation .ct-series-a .ct-bar:nth-of-type(2),
#punctuation .ct-series-a .ct-bar:nth-of-type(5),
#punctuation .ct-series-a .ct-bar:nth-of-type(9),
#punctuation .ct-series-a .ct-bar:nth-last-of-type(21) {
  stroke: #ee8139;
}

#puncLegend {
  position: absolute;
  /* margin-bottom: -20%; */
  left: 10%;
  top: 33%;
  /* background-color: #fff; */
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.legendItem {
  margin-right: 1em;
}

.legendItem::before {
  content: "";
  display: inline-block;
  width: .65em;
  height: .65em;
  border-radius: 50%;
  margin-right: .4em;
  /* margin-top: -1em; */
}

.punctuation::before {
  background-color: #15096f;
}

.emoticon::before {
  background-color: #fec44f;
}

.emoji::before {
  background-color: #ee8139;
}