/****
$main: #f96262;
****/

* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	line-height: 1.6;
	max-width: 100%;
	/*color: #27363b;*/
	color: #4f4f4f;
	/*background-image: linear-gradient(-20deg, #ed6ea0 0%, #ec8c69 100%);*/
	/*background-attachment: fixed;*/
}
	/*@media(min-width: 800px) {
		body {
			padding: 2em 0;
		}
	}*/

a {
	text-decoration: none;
	/*color: #27363b;*/
	color: #4f4f4f;
	border-bottom: 2px solid #f96262;
	transition: 0.1s color linear;
}

a:hover {
	color: #f96262;
}

/****
CONTAINER
****/

.container {
	margin: auto;
	display: grid;
	align-items: center;
	grid-template-rows: auto auto auto;
	background-color: #fffffd;
	/*border-radius: 5px;*/
	max-width: 2000px;
	padding: 2rem;
}
	@media (min-width: 600px) {
		.container {
			padding: 3.5rem;
		}
	}
	@media (min-width: 1000px) {
		.container {
			padding: 5rem;
		}
	}

/****
HEADER
****/

header {
	/*grid-template-areas: header;*/
}

header a {
	border-bottom: 0;
}

/****
MAIN
****/

main {
	/*grid-area: main;*/
	display: grid;
	grid-template-rows: repeat(3, auto);
	/*grid-template-columns: 100%;*/
	align-content: center;
	min-height: 400px;
	padding-bottom: 2rem;
}
	@media (min-width: 600px) {
		main {
			padding-bottom: 3.5rem;
		}
	}
	@media (min-width: 1000px) {
		main {
			grid-template-rows: auto auto;
			grid-template-columns: 1fr 1fr;
			/*grid-template-columns: repeat(2, calc(50% - 5em));*/
			grid-column-gap: 5em;
			padding-bottom: 5rem;
		}
	}

.greeting,
.project-title {
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 2em;
	grid-column-end: span 2;
	width: 50%;
	/*padding-bottom: 1.5rem;*/
	/*color: #f96262;*/
}
	@media (min-width: 600px) {
		.greeting,
		.project-title {
			font-size: 2em;
		}
	}

.greeting h1 {
	font-weight: 900;
	border-radius: 5px;
	background-color: #f96262;
	color: #fffffd;
	display: inline-block;
	padding: 1.5rem;
	line-height: 1;
}

main > div:not(:first-child) {
	/*grid-row-start: 2;*/
}

.about-me {
	font-size: 1.55em;
}
	@media (min-width: 600px) {
		.about-me {
			/*font-size: 1.7em;*/
		}
	}
	@media (min-width: 1000px) {
		.about-me {
			/*font-size: 2em;*/
		}
	}

.about-me p {
	margin-top: 0;
	/*margin-bottom: 3em;*/
}
	@media (min-width: 1000px) {
		.about-me p {
			/*margin-bottom: 8em;*/
		}
	}

.term {
	font-weight: bold;
}

.work {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
	@media (min-width: 1000px) {
		.work {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

.project {
	text-align: center;
}

.project:not(:last-of-type) {
	margin-bottom: 3rem;
}

.project a,
.project a:hover {
	border-bottom: 0;
}

.project a {
	display: block;
	background-color: #fbfbfb;
	padding: 2rem;
	border-radius: 5px;
}

.project h2 {
	margin-top: 0.1em;
}

.project .desc {
	width: 80%;
	margin: 0 auto 2rem;
}

.project img,
.media img {
	max-width: 100%;
}

/****
PROJECT
****/

.media {
	text-align: center;
}

.media pre {
	/*width: 50%;*/
	height: 400px;
}

.media figure {
	margin-left: 0;
	margin-right: 0;
}

.media figure:not(:last-child) {
	margin-bottom: 3em;
}

.media figure.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
}

.media figure.grid figcaption {
	grid-column-end: span 2;
}

.media figcaption {
	margin-bottom: 1em;
	padding: 1em;
	background-color: #f5f2f0;
}

.media iframe {
	width: 100%;
}

/****
FOOTER
****/

footer {
	/*grid-area: footer;*/
	text-align: center;
}

.platforms {
	margin: 0.5em 0;
	text-align: center;
}
	@media(min-width: 1200px) {
		margin: 0 auto;
	}

.banner nav a,
.platforms a {
	display: inline-block;
}

.platforms a:not(:last-child) {
	margin-right: .5em;
}
