:root {
	--textColor: #27363b;
	--containerBg: #fffffd;
	--accentColor: #f96262;
	/* --accentColor: #5360c3; */
	--introBg: rgba(252, 122, 117, .07);
	/* --introBg: rgba(128, 117, 252, .07); */
	--gradientLight: #ed6ea0;
	--gradientDark: #ec8c69;
	/* --gradientDark: #bdc2e8; */
	/* --gradientLight: #e6dee9; */
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 1em 0;
	min-height: 100%;
	display: flex;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	line-height: 1.6;
	color: var(--textColor);
	background-image: linear-gradient(-20deg, var(--gradientLight) 0%, var(--gradientDark) 100%);
	/* background-image: linear-gradient(to top, var(--gradientDark) 0%, var(--gradientDark) 1%, var(--gradientLight) 100%); */
	background-attachment: fixed;
}
	@media (min-width: 800px) {
		body {
			padding: 2em 0;
		}
	}

a {
	text-decoration: none;
	color: var(--textColor);
	border-bottom: 2px solid var(--accentColor);
	transition: 0.1s color linear;
}

a:hover {
	color: var(--accentColor);
}

abbr {
	text-transform: lowercase;
	font-variant: small-caps;
}

.fileInfo {
	font-variant: small-caps;
	color: var(--accentColor);
}

/****
CONTAINER
****/

.container {
	width: calc(100% - 2em);
	margin: auto;
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	background-color: var(--containerBg);
	border-radius: 5px;
	padding: 1em;
}
	@media (min-width: 650px) {
		.container {
			padding: 2em;
		}
	}

.container.card {
	/* width: calc(100% - 2em); */
}
	@media (min-width: 650px) {
		.container.card {
			width: 55%;
			padding: 2em 3em;
		}
	}

.container.article {
	/* width: calc(100% - 2em); */
}
	@media (min-width: 650px) {
		.container.article {
			width: calc(100% - 3em);
		}
	}

/****
HEADER
****/

#header {
	grid-area: header;
	display: grid;
	/* grid-template-columns: auto; */
	/* grid-template-rows: repeat(3, 1fr); */
	/* grid-template-areas: 
		"logo"
		"bio"
		"nav"; */
	grid-template-rows: auto;
	grid-template-columns: 60px auto;
	grid-template-areas:
		"logo bio"
		"nav nav";
	align-items: center;
	justify-content: center;
	text-align: center;
}
	@media (min-width: 650px) {
		#header {
			grid-template-rows: auto;
			grid-template-columns: 60px auto 65px;
			grid-template-areas: "logo bio nav";
			justify-content: stretch;
		}
	}

#header a[href="/"],
#footer a {
	border: 0;
}

.logo {
	grid-area: logo;
	margin: 0 auto;
	padding: 0;
	height: 4em;
}
	@media (min-width: 650px) {
		.logo {
			padding-right: 0.5em;
		}
	}

.logo:hover {
	fill: var(--accentColor);
}

.bio {
	grid-area: bio;
	line-height: 1;
	/* margin-top: 1em; */
	text-align: left;
}
	@media (min-width: 650px) {
		.bio {
			/* margin-top: 0; */
		}
	}

.bio .name {
	/* display: block; */
	display: flex;
	flex-direction: column;
	margin: -0.35em auto 0.2em;
	font-size: 1.2em;
	font-weight: bold;
}
	@media (min-width: 650px) {
		.bio .name {
			flex-direction: row;
			font-size: 2em;
		}
	}

.bio .english {
	margin-bottom: .1em;
}
	@media (min-width: 650px) {
		.bio .english {
			margin-bottom: none;
			margin-right: .2em;
		}

		.bio .english::after {
			content: " | ";
			font-weight: lighter;
		}
	}

.nav {
	margin: 1em 0;
	grid-column: 1 / span 2;
}
	@media (min-width: 650px) {
		.nav {
			margin: 0;
			text-align: right;
			grid-column: 3;
		}
	}

/****
WORK
****/

.work {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.year {
	width: 100%;
}

.project {
	display: block;
	flex-basis: 100%;
	margin: .5em 0;
	padding: 1em 0;
	border-radius: 5px;
	border: none;
	background-color: rgba(0,0,0,0.05);
	text-align: center;
}
	@media (min-width: 650px) {
		.project {
			margin: 1em;
			flex-basis: calc(100% / 2 - 2.5em);
		}
	}
	@media (min-width: 1000px) {
		.project {
			/* margin: 1em; */
			flex-basis: calc(100% / 3 - 2.5em);
		}
	}

.project .projectTitle {
	margin-bottom: 0;
}

.project .tags {
	display: flex;
	justify-content: center;
	margin: -.5em auto 1em;
}

.project .tag {
	padding: 0 .5em;
	font-variant: small-caps;
}

.project figure {
	margin: 1em;
}

.project figcaption {
	margin-bottom: 1em;
}

.project img {
	width: 100%;
}
	@media (min-width: 800px) {
		.project img {
			width: 90%;
		}
	}

/****
MAIN
****/

main {
	grid-area: main;
	padding: 1em 0 4em;
	overflow: hidden;
}

article {
	width: 100%;
	margin: 1em auto 4em;
}
	@media (min-width: 580px) {
		article {
			width: 70%;
		}
	}
	@media (min-width: 900px) {
		article {
			width: 55%;
		}
	}

.intro {
	padding: 2em 1em;
	border-radius: 5px;
	background-color: var(--introBg);
}

.intro figure {
	margin: 1em 0 0 0;
	background: none;
}
	@media (min-width: 800px) {
		.intro figure {
			margin: 1em;
		}
	}

article figure {
	display: flex;
	flex-direction: column;
	margin: 1em 0;
	max-width: 100%;
	background-color: rgba(0,0,0,0.05);
}

article figure img,
article .two img,
article iframe {
	width: 100%;
	margin: auto;
	/* padding: 1em 1em 0 1em; */
}
	@media (min-width: 650px) {
		article .two img {
			max-width: calc(50% - 1.15em);
			padding-top: 1em;
			padding-bottom: 0;
		}

		article .two img:first-of-type {
			padding-right: 0.5em;
			padding-left: 0;
		}

		article .two img:last-of-type {
			padding-left: 0.5em;
			padding-right: 0;
		}
	}

article figcaption {
	width: calc(100% - 2.5em);
	margin: 1em auto;
	background-color: rgba(0,0,0,0.1);
	padding: 0.5em;
	text-align: center;
	font-size: 0.8em;
	/* font-style: italic; */
}

.title {
	text-align: center;
}

.year {
	text-align: center;
}

.subtitle {
	text-align: center;
	/* font-style: italic; */
}

article figure {
	text-align: center;
}

article img {
	max-width: 100%;
}

article iframe {
	height: 44vw;
	margin: 0.5em auto;
	border: 0;
	background: transparent;
}
	@media (min-width: 800px) {
		article iframe {
			height: 28vw;
		}
	}

.swot div {
	margin: 0.5em auto;
}

.swot dt {
	width: 100%;
	float: left;
	clear: left;
	text-align: left;
	font-weight: bold;
}
	@media (min-width: 800px) {
		.swot dt {
			width: 7.5em;
			text-align: right;
		}
	}

.swot dd {
	margin-left: 2em;
	text-indent: -1em;
}
	@media (min-width: 800px) {
		.swot dd {
			margin-left: 9.5em;
		}
	}

.moodboard {
	display: grid;
	grid-template-columns: 1fr;
	align-items: start;
}
	@media (min-width: 500px) {
		.moodboard {
			grid-template-columns: repeat(2, 1fr);
		}
	}

.moodboard img {
	padding: 1em 0;
	margin: 0 auto;
}
	@media (min-width: 500px) {
		.moodboard img {
			padding: 1em;
		}
	}

.spec {
	width: 100%;
	margin: 1em auto;
	text-align: center;
	table-layout: fixed;
}
	@media (min-width: 700px) {
		.spec {
			width: 80%;
		}
	}
	@media (min-width: 950px) {
		.spec {
			width: 65%;
		}
	}

.spec caption {
	border-bottom: 1px solid currentColor;
}

article blockquote {
	margin-left: 0;
	padding-left: 1em;
	border-left: 0.5em solid rgba(0,0,0,0.05);
}

/****
RESUME
****/

.resume aside {
	float: right;
}

/****
FOOTER
****/

#footer {
	grid-area: footer;
	text-align: center;
}

.platforms {
	display: flex;
	justify-content: center;
	margin: 0.5em 0;
	text-align: center;
}
	@media (min-width: 1200px) {
		.platforms {
			margin: 0 auto;
		}
	}

#header nav a,
.platforms a {
	display: inline-block;
}

.platforms a:not(:last-child) {
	margin-right: .5em;
}
