body {
	margin:0;
	padding:0;
	background:#fa3 url('noisebg.png');
}

div {
	margin:100px auto 0;
	text-align:center;
	width:48%;
	font-family:"Bitter",serif;
	text-transform:uppercase;
	/*text-shadow: 0px 0px 30px rgba(30, 28, 28, 0.2);*/
}

blockquote {
	margin:0;
	font-size:5em;
	/*text-shadow:6px 0px #f43;*/
	text-shadow:6px 0px #e68600;
}

.qmark {
	position:absolute;
	font-size:10em;
	color:#e68600;
}

.qmark:first-child {
	margin:0 0 0 -350px;
}

.qmark:last-child {
	margin:-100px 0 0 320px;
}

::selection {
	color:#f43;
	/*color:#fff*/
}
