<footer id="footer" role="contentinfo">

	<small>Katherine Yang &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script></small>

	<div class="platforms">
		<small><a href="https://github.com/whykatherine">GitHub</a></small>
		<small><a href="https://www.instagram.com/kayserifserif">Instagram</a></small>
    <small><a href="https://www.twitter.com/bookwormgirl910">Twitter</a></small>
		<small><a href="https://www.linkedin.com/in/whykatherine">LinkedIn</a></small>
		<small><a href="https://www.pinterest.com/whykatherine/">Pinterest</a></small>
	</div>

</footer>