<footer class="footer" role="contentinfo">

  <!-- <div id="wcb" class="wcb carbonbadge"></div>
  <script src="https://unpkg.com/website-carbon-badges@^1/b.min.js" defer></script> -->

  <p class="footer__text"><small>
    &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>
    <br>
    <!-- Using the Website Carbon Calculator to keep myself accountable – lots to improve upon!
    <br> -->
  </small></p>

  <div class="platforms">
    <a href="https://www.instagram.com/kayserifserif"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com/whykatherine"><i class="fab fa-github"></i></a>
    <a href="https://www.twitter.com/bookwormgirl910"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/whykatherine"><i class="fab fa-linkedin"></i></a>
  </div>

</footer>