<footer role="contentinfo">
  <hr>
  <p>I’m also on: <a href="https://www.instagram.com/kayserifserif/">Instagram</a> (consistently); <a rel="me" href="https://sunny.garden/@kayserifserif">Mastodon</a> (often); <a href="https://bsky.app/profile/kayserifserif.place">Bluesky</a> (sometimes); <s><a href="https://twitter.com/kayserifserif">Twitter</a></s> (passionately less so); <a rel="me" href="https://github.com/kayserifserif">GitHub</a>; <a href="https://www.are.na/katherine-yang-whdn6lgsnea">Are.na</a>; and the unceded lands of the Massachusett, Pawtucket, and Wampanoag peoples (or, Boston).</p>
  <!-- The size of this page is approximately 32.72 kB. -->
</footer>