<header role="banner" class="banner">

	<a href="/" title="Home"><img class="logo" src="/assets/img/monogram.svg" alt="Logo" width="60" height="80"></a>

	<div class="bio">
		<!-- <a href="/" title="Home"><span class="name">Katherine <br>Yang</span></a> -->
		<a href="/" title="Home" class="name">Katherine <br>Yang</a>
		<!-- <span class="title">Digital designer</span> -->
	</div>

	<nav class="nav">
		<a href="/work">Work</a>
		<a href="/about">About</a>
		<a href="/resume">Résumé</a>
	</nav>

</header>