---
---

:root {
  --bg: #fdfdfd;
  --bg-half: rgba(253, 253, 253, 0.5);

  --fg: #444;
  --fg-half: rgba(68, 68, 68, 0.5);

  --emphasis: #444;
  --emphasis-on: #000;

  --mid: rgb(255, 253, 250);
  --mid-half: rgb(255, 253, 250, 0.5);

  --accent: #D7A85B;
  --accent-on: #deb779;

  --link: var(--emphasis);
  --link-on: var(--emphasis-on);
}

[data-theme="light"] {
  --bg: #fdfdfd;
  --bg-half: rgba(253, 253, 253, 0.5);

  --fg: #444;
  --fg-half: rgba(68, 68, 68, 0.5);

  --emphasis: #444;
  --emphasis-on: #000;

  --mid: rgb(255, 253, 250);
  --mid-half: rgb(255, 253, 250, 0.5);

  --accent: #D7A85B;
  --accent-on: #deb779;

  --link: var(--emphasis);
  --link-on: var(--emphasis-on);
}