---
---

@import "bw.css";

@font-face {
  font-family: "TT2020";
  src: url("/assets/fonts/TT2020Base-Regular.woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT2020";
  src: url("/assets/fonts/TT2020Base-Italic.woff2");
  font-style: italic;
  font-display: swap;
}

// @font-face {
//   font-family: "TT2020";
//   src: url("/assets/fonts/TT2020StyleE-Regular.woff2");
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "TT2020";
  src: url("/assets/fonts/TT2020StyleE-Italic.woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

:root {
  font-size: 16px;
  --spacing: 100px;
  // --font-mono: "Select Mono";
  // --font-mono: "Cartograph";
  --font-mono: "TT2020";
}

[data-theme="light"] {
  color-scheme: light;
}
[data-theme="dark"] {
  color-scheme: dark;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
    --spacing-lg: 50px;
    --spacing-sm: 50px;
  }
}

@media print {
  :root {
    font-size: 11px;
    --spacing-lg: 50px;
    --spacing-sm: 50px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
}

body {
  padding: 5vw 10vw;
  margin: auto;
  font-family: var(--font-mono);
  // font-style: italic;
  // font-weight: 600;
  line-height: 1.5;
  // color: #444;
  // background-color: #fdfdfd;
  color: var(--fg);
  background-color: var(--bg);
}
@media print {
  body {
    background-color: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  // font-weight: 400;
  font-weight: 600;
  margin: 1.5rem 0;
  font-style: italic;
}

a {
  text-shadow: none;
  text-underline-offset: 2px;
}

a,
a:visited {
  // color: #444;
  // color: var(--emphasis);
  // color: var(--accent);
  color: var(--link);
}

a:hover {
  // color: #000;
  // color: var(--emphasis-on);
  // color: var(--accent-on);
  color: var(--link-on);
}

[lang="zh"] {
  font-family: "Libian TC", serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.25;
  font-style: normal;
}

[lang="en"] {
  font-family: var(--font-mono);
}

img,
video,
iframe {
  display: block;
  max-inline-size: 100%;
  max-block-size: 800px;
}

iframe {
  inline-size: 800px;
  block-size: 500px;
}

img.inline,
video.inline,
iframe.inline {
  display: inline;
}

img.size-xs,
video.size-xs,
iframe.size-xs {
  max-inline-size: 300px;
}

img.size-s,
video.size-s,
iframe.size-s {
  max-inline-size: 400px;
}

code {
  // font-family: "Select Mono", monospace;
  font-family: var(--font-mono);
  // font-style: italic;
  // display: inline-block;
  // margin-left: 0.1em;
  // margin-right: 0.1em;
}

// pre code {
//   display: initial;
// }

pre.wrap code {
  white-space: normal;
}

ul,
ol {
  padding-inline-start: 0;
}
  @media (max-width: 800px), print {
    ul,
    ol {
      padding-inline-start: 2em;
    }
  }

li {
  margin: 1.5rem 0;
}

p {
  margin: 1.5rem 0;
}

hr {
  color: inherit;
  // border-width: 0.5px;
  border-style: dashed;
}

.break {
  inline-size: 100%;
}

blockquote {
  // border-left: 3px solid #eee;
  border-inline-start: 3px solid var(--mid);
  padding-inline-start: 1em;
}

/* header */

header[role="banner"] {
  position: absolute;
  inline-size: 800px;
  inset-inline-start: 0;
  transform: translateX(-100%);
  padding-inline-end: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  margin-inline-start: calc(calc(100vw - 800px) / 2);

  .previous::before {
    content: "← ";
  }

  .next::after {
    content: " →";
  }

  p {
    margin-block: 0;
  }
}
  @media (max-width: 1200px), print {
    header[role="banner"] {
      position: static;
      inline-size: unset;
      max-inline-size: 800px;
      text-align: start;
      transform: unset;
      margin: 0 auto var(--spacing);
      flex-direction: row;
      align-items: flex-end;
      gap: 2rem;
    }
  }

.logo {
  // width: 36px;
  block-size: 36px;
  // fill: #444;
  // fill: var(--emphasis);
  // fill: var(--accent);
  fill: var(--link);
}

.logo:hover {
  // fill: #000;
  // fill: var(--emphasis-on);
  // fill: var(--accent-on);
  fill: var(--link-on);
}

.themes,
.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
  @media (max-width: 1200px), print {
    .themes,
    .nav {
      flex-direction: row;
    }
  }

.theme-button {
  appearance: none;
  text-align: start;
  padding: 0;
  font: inherit;
  border: none;
  background: none;
  color: var(--link);
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
  inline-size: max-content;
}

.theme-button:hover {
  color: var(--link-on);
}

/* toc */

.toc .chapter-title {
  margin-block-end: 0.5em;
}

.toc .chapter-subtitle {
  margin-block-start: 0;
  // color: #717171;
}

/* scribbles */

.scribbles {
  position: absolute;
  inset-block-start: 50px;
  inset-inline-end: 50px;
  // left: 50px;
  transform: rotate(1deg);
  font-size: 0.75rem;
}
  @media (max-width: 800px) {
  // @media (max-width: 1500px) {
    .scribbles {
      position: static;
      transform: none;
      inline-size: 250px;
      // max-width: 800px;
      margin-inline: auto;
      margin-block-end: var(--spacing);
    }

    .scribbles--notes .note {
      max-inline-size: 250px;
    }
  }

.scribbles ul {
  list-style-type: none;
}

.scribbles li {
  margin-block: 0;
}

.scribbles p {
  margin: 1.5rem 0;
  max-inline-size: unset;
}

.scribbles--notes .note {
  padding: 1rem;
  // background-color: rgb(255, 253, 250);
  background-color: var(--mid);
  color: var(--fg);
  // box-shadow: 1px 5px 8px rgba(113, 99, 78, 0.1);
  // box-shadow: 1px 5px 8px var(--bg-half);
  box-shadow: 1px 5px 8px var(--shadow);
  inline-size: 250px;
  min-block-size: 250px;
}

.scribbles--notes .note::before {
  content: ". ∫ .";
  display: block;
  text-align: center;
  font-family: "Bodoni Ornaments", fantasy;
  font-weight: 300;
  font-size: 0.75em;
  margin-block-end: 1rem;
}

.scribbles--receipt {
  // box-shadow: 1px 5px 8px rgba(113, 99, 78, 0.1);
  // box-shadow: 1px 5px 8px var(--bg-half);
  box-shadow: 1px 5px 8px var(--shadow);
  // background-color: rgb(253, 253, 253);
  // background-color: rgb(245, 245, 245);
  background-color: var(--mid);
  color: var(--fg);
  padding-inline: 1rem;
  inline-size: 300px;
}

.scribbles--receipt::after {
  content: "";
  position: absolute;
  inset-block-end: 0;
  transform: translate(0, 100%);
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 10px;

  background-image: linear-gradient(var(--mid), var(--mid)),
    url("/assets/media/other/rip.png");
  background-blend-mode: darken;
  background-repeat: no-repeat;
}

.scribbles--receipt .note + .note {
  // border-top: 1px dashed rgba(68, 68, 68, 0.5);
  border-block-start: 1px dashed var(--fg-half);
}

.scribbles--receipt h2 {
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}

.scribbles--receipt .note {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

.scribbles--receipt h2 {
  grid-column: 1 / span 2;
}

.scribbles--receipt p {
  grid-column: 1;
  grid-row: 1;
}

.scribbles--receipt .note-date {
  grid-column: 2;
  text-align: end;
}

.scribbles--notes .note-date {
  font-style: italic;
}

/* changelog */

#changelog {
  inset-inline-start: unset;
  inset-inline-end: 50px;
}

// .changelog dl {
//   max-width: 400px;
//   margin-inline: auto;
//   display: grid;
//   grid-template-columns: auto 1fr;
//   gap: 0 1rem;
// }

// .changelog dd {
//   margin-left: 0;
// }

/* intro */

.intro {
  max-inline-size: 800px;
  margin-inline: auto;
  margin-block-end: var(--spacing);
}

.intro h1,
.intro p {
  inline-size: 60%;
  margin-inline: 0;
}
  @media (max-width: 800px), print {
    .intro h1,
    .intro p {
      inline-size: 100%;
    }
  }

.intro h1 {
  font-size: 2rem;
  margin-block-start: 0;
  margin-block-end: 3rem;
  line-height: 1.2;
  // color: var(--accent);
}

.name [lang="zh"] {
  margin-block-start: -0.2em;
  margin-block-end: 0.5em;
}

.intro p {
  font-size: 1.2em;
  margin-block-end: 2em;
}

@counter-style manicule {
  system: cyclic;
  symbols: "☞";
  suffix: " ";
  speak-as: numbers;
}

.lately {
  list-style: manicule;
}

/* main */

main {
  // margin: var(--spacing-lg) auto;
  // margin: var(--spacing) auto;
  margin-block: 0 var(--spacing);
  margin-inline: auto;

  img,
  video,
  iframe {
    display: block;
    margin: auto;
  }
}

.section + .section {
  // margin-top: var(--spacing-sm);
  margin-block-start: var(--spacing);
}

.columns {
  max-inline-size: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: calc(50% - 1em) calc(50% - 1em);
  gap: 1.5rem 2em;
}
  @media (max-width: 800px) {
    .columns {
      grid-template-columns: 100%;
    }
  }

main {
  h2,
  h3,
  p,
  li,
  blockquote,
  pre,
  hr,
  .section {
    max-inline-size: 800px;
    margin-inline: auto;
  }
}

.poem {
  white-space: pre;
}

.metadata {
  margin-block-start: 1.2rem;
  // font-size: 0.75em;
  // line-height: 2;
  font-style: italic;
}

.metadata div {
  display: flex;
}

.metadata dd {
  margin-inline-start: 1em;
}

.gallery {
  // margin: var(--spacing-sm) auto;
  margin: var(--spacing) auto;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
  @media (max-width: 800px) {
    .gallery {
      flex-direction: column;
    }
  }

figcaption {
  margin: 1em 0;
  text-align: center;
}

@media (min-width: 800px) {
  .intentions {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 1em;
    inline-size: max-content;
    margin: auto;
  }

  .intentions > div {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: subgrid;
  }
}

.intentions dt {
  color: var(--fg-half);
}
  @media (min-width: 800px) {
    .intentions dt {
      text-align: end;
    }

    .intentions dd {
      margin: 0;
    }
  }

/* posts */

.posts-list div + div {
  margin-block-start: 1rem;
}

.posts-list h2,
.posts-list p {
  margin-block: 0;
}

.posts-list--date {
  // opacity: 0.5;
  color: var(--fg-half);
}

.ipa {
  // font-family: "Cartograph", monospace;
  // font-weight: 300;
}

/* index */

.index {
  columns: 1;
}
@media (min-width: 800px) {
  .index {
    columns: 2;
  }
}

.index-section + .index-section {
  margin-block-start: 1em;
}

.index .term-container {
  display: flex;
  flex-wrap: wrap;
}

.index dd {
  margin-inline-start: 0.5em;
  // opacity: 0.5;
  a {
    color: var(--link-off);
  }
}

.index .term-container dt::after {
  content: ", ";
}

.index dl {
  display: block;
  inline-size: 100%;
}

.index dl dt::before {
  content: "——";
}

.index h2:first-of-type {
  margin-block-start: 0;
}

/* 404 */

.four-oh-four {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75vw;
}
  @media (max-width: 800px) {
    .four-oh-four {
      font-size: 2vw;
    }
  }

.four-oh-four pre,
.four-oh-four span,
.four-oh-four p {
  /* width: fit-content; */
  inline-size: 76ch;
  margin: auto;
  text-align: start;
  // font-family: "Select Mono", monospace;
  font-family: var(--font-mono);
}

/* footer */

footer[role="contentinfo"] {
  max-inline-size: 800px;
  margin: auto;
  // font-size: 0.6rem;
  // font-style: italic;
  // font-weight: 400;
}

// footer[role="contentinfo"]::before {
//   content: "-------------------------------------------------------------------------------------------";
// }
