---
---

@font-face {
  font-family: "TT2020";
  src: url("/assets/fonts/TT2020Base-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "TT2020";
  src: url("/assets/fonts/TT2020Base-Italic.woff2");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT2020";
  src: url("/assets/fonts/TT2020StyleE-Regular.woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "TT2020";
  src: url("/assets/fonts/TT2020StyleE-Italic.woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TT2020";
  src: url("/assets/fonts/TT2020StyleB-Regular.woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "TT2020";
  src: url("/assets/fonts/TT2020StyleB-Italic.woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

:root {
  font-size: 16px;
  --spacing: 100px;
  // --font-mono: "Select Mono";
  // --font-mono: "Cartograph";
  --font-mono: "TT2020";
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
    --spacing-lg: 50px;
    --spacing-sm: 50px;
  }
}

@media print {
  :root {
    font-size: 11px;
    --spacing-lg: 50px;
    --spacing-sm: 50px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 5vw 10vw;
  margin: auto;
  font-family: var(--font-mono);
  // font-style: italic;
  // font-weight: 600;
  line-height: 1.5;
  color: #444;
  background-color: #fdfdfd;
}
@media print {
  body {
    background-color: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  // font-weight: 400;
  font-weight: 600;
  margin: 1.5rem 0;
  font-style: italic;
}

h1 {
  font-weight: 800;
}

a,
a:visited {
  color: #444;
}

a:hover {
  color: #000;
}

[lang="zh"] {
  font-family: "Libian TC", serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.25;
  font-style: normal;
}

img,
video,
iframe {
  display: block;
  max-width: 100%;
  max-height: 800px;
}

iframe {
  width: 800px;
  height: 500px;
}

img.inline,
video.inline,
iframe.inline {
  display: inline;
}

img.size-xs,
video.size-xs,
iframe.size-xs {
  max-width: 300px;
}

img.size-s,
video.size-s,
iframe.size-s {
  max-width: 400px;
}

code {
  // font-family: "Select Mono", monospace;
  font-family: var(--font-mono);
  // font-style: italic;
  // display: inline-block;
  // margin-left: 0.1em;
  // margin-right: 0.1em;
}

pre code {
  display: initial;
}

ul,
ol {
  padding-left: 0;
}
  @media (max-width: 800px), print {
    ul,
    ol {
      padding-left: 2em;
    }
  }

li {
  margin: 1.5rem 0;
}

p {
  margin: 1.5rem 0;
}

hr {
  max-width: 600px;
  border: 0;
  height: 1px;
  background-color: currentColor;
}

blockquote {
  border-left: 3px solid #eee;
  padding-left: 1em;
}

/* header */

header[role="banner"] {
  position: absolute;
  width: 800px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}
  @media (max-width: 1200px), print {
    header[role="banner"] {
      position: static;
      width: unset;
      max-width: 800px;
      text-align: left;
      transform: unset;
      margin: 0 auto var(--spacing-sm);
    }
  }

header[role="banner"] a {
  margin-top: calc(36px / -8);
  margin-left: -120%;
}
  @media (max-width: 1200px), print {
    header a {
      margin-top: 0;
      margin-left: calc(36px / -4);
    }
  }

.logo {
  width: 36px;
  height: 36px;
  fill: #444;
}

.logo:hover {
  fill: #000;
}

/* toc */

.toc .chapter-title {
  margin-bottom: 0.5em;
}

.toc .chapter-subtitle {
  margin-top: 0;
  // color: #717171;
}

/* scribbles */

.scribbles {
  position: absolute;
  top: 50px;
  right: 50px;
  transform: rotate(1deg);
  font-size: 0.75rem;
}
  @media (max-width: 800px) {
    .scribbles {
      position: static;
      transform: none;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }

    .scribbles--notes .note {
      max-width: 250px;
    }
  }

.scribbles--notes .note {
  padding: 1rem;
  background-color: rgb(255, 253, 250);
  box-shadow: 1px 5px 8px rgba(113, 99, 78, 0.1);
  width: 250px;
  min-height: 250px;
}

.scribbles--notes .note::before {
  content: ". ∫ .";
  display: block;
  text-align: center;
  font-family: "Bodoni Ornaments", fantasy;
  font-weight: 300;
  font-size: 0.75em;
  margin-bottom: 1rem;
}

.scribbles--receipt {
  box-shadow: 1px 5px 8px rgba(113, 99, 78, 0.1);
  // background-color: rgb(253, 253, 253);
  background-color: rgb(245, 245, 245);
  padding-left: 1rem;
  padding-right: 1rem;
  width: 300px;
}

.scribbles--receipt::after {
  content: "";
  position: absolute;
  bottom: 0;
  transform: translate(0, 100%);
  left: 0;
  width: 100%;
  height: 10px;

  background-image: url("/assets/media/other/rip.png");
  background-repeat: no-repeat;
}

.scribbles--receipt .note + .note {
  border-top: 1px dashed rgba(68, 68, 68, 0.5);
}

.scribbles--receipt h2 {
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}

.scribbles--receipt .note {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.scribbles--receipt h2 {
  grid-column: 1 / span 2;
}

.scribbles--receipt p {
  grid-column: 1;
  grid-row: 1;
}

.scribbles--receipt .note-date {
  grid-column: 2;
  text-align: right;
}

.scribbles--notes .note-date {
  font-style: italic;
}

/* intro */

.intro {
  max-width: 800px;
  margin: auto;
}

.intro h1,
.intro p {
  width: 60%;
}
  @media (max-width: 800px), print {
    .intro h1,
    .intro p {
      width: 100%;
    }
  }

.intro h1 {
  // font-size: 2rem;
  margin-top: 0;
  margin-bottom: 3rem;
  line-height: 1.2;
}

.name [lang="zh"] {
  margin-top: -0.2em;
  margin-bottom: 0.5em;
}

.intro p {
  // font-size: 1.2em;
  margin-bottom: 2em;
}

/* main */

main {
  // margin: var(--spacing-lg) auto;
  margin: var(--spacing) auto;

  img,
  video,
  iframe {
    display: block;
    margin: auto;
  }
}

.project {
  font-family: var(--font-mono);
}

.section + .section {
  // margin-top: var(--spacing-sm);
  margin-top: var(--spacing);
}

.columns {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: calc(50% - 1em) calc(50% - 1em);
  gap: 1.5rem 2em;
}
  @media (max-width: 800px) {
    .columns {
      grid-template-columns: 100%;
    }
  }

main h2,
main p,
main li,
main blockquote,
main pre {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.metadata {
  margin-top: 1.2rem;
  // font-size: 0.75em;
  // line-height: 2;
  font-style: italic;
}

.metadata div {
  display: flex;
}

.metadata dd {
  margin-left: 1em;
}

.gallery {
  margin: var(--spacing-sm) auto;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
  @media (max-width: 800px) {
    .gallery {
      flex-direction: column;
    }
  }

figcaption {
  margin: 1em 0;
  text-align: center;
}

@media (min-width: 800px) {
  .intentions {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 1em;
    width: max-content;
    margin: auto;
  }

  .intentions > div {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: subgrid;
  }
}

.intentions dt {
  opacity: 0.5;
}
  @media (min-width: 800px) {
    .intentions dt {
      text-align: right;
    }

    .intentions dd {
      margin: 0;
    }
  }

/* blog */

.blog-list div + div {
  margin-top: 2em;
}

.blog-list h2,
.blog-list p {
  margin-top: 0;
  margin-bottom: 0;
}

.blog-list--date {
  opacity: 0.5;
}

.ipa {
  // font-family: "Cartograph", monospace;
  // font-weight: 300;
}

/* index */

.index {
  columns: 1;
}
@media (min-width: 800px) {
  .index {
    columns: 2;
  }
}

.index-section + .index-section {
  margin-top: 1em;
}

.index .term-container {
  display: flex;
  flex-wrap: wrap;
}

.index dd {
  margin-left: 0.5em;
  opacity: 0.5;
}

.index .term-container dt::after {
  content: ", ";
}

.index dl {
  display: block;
  width: 100%;
}

.index dl dt::before {
  content: "——";
}

.index h2:first-of-type {
  margin-top: 0;
}

/* 404 */

.four-oh-four {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75vw;
}
  @media (max-width: 800px) {
    .four-oh-four {
      font-size: 2vw;
    }
  }

.four-oh-four pre,
.four-oh-four span,
.four-oh-four p {
  /* width: fit-content; */
  width: 76ch;
  margin: auto;
  text-align: left;
  // font-family: "Select Mono", monospace;
  font-family: var(--font-mono);
}

/* footer */

footer[role="contentinfo"] {
  max-width: 800px;
  margin: auto;
  // font-size: 0.6rem;
  // font-style: italic;
  // font-weight: 400;
}
