/****
$main: #f96262;
****/

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 1em 0;
	height: 100%;
	display: flex;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	line-height: 1.6;
	color: #27363b;
	/* background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%); */
	background-image: linear-gradient(-20deg, #ed6ea0 0%, #ec8c69 100%);
	background-attachment: fixed;
}
	@media(min-width: 800px) {
		body {
			padding: 2em 0;
		}
	}

a {
	text-decoration: none;
	color: #27363b;
	border-bottom: 2px solid #f96262;
	transition: 0.1s color linear;
}

a:hover {
	color: #f96262;
}

/****
CONTAINER
****/

.container {
	margin: auto;
	background-color: #FFFFFD;
	border-radius: 5px;
	padding: 2em;
}

.container.card {
	width: calc(100% - 2em);
}
	@media(min-width: 800px) {
		.container.card {
			width: 55%;
			padding: 2em 3em;
		}
	}

.container.article {
	width: calc(100% - 2em);
}
	@media(min-width: 800px) {
		.container.article {
			width: calc(100% - 3em);
		}
	}

/****
HEADER
****/

header.banner {
	width: 80%;
	margin: auto;
	grid-area: header;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: 
		"logo"
		"bio"
		"nav";
	align-items: center;
	justify-content: center;
	text-align: center;
}
	@media(min-width: 800px) {
		header.banner {
			grid-template-columns: 60px auto 220px;
			grid-template-rows: auto;
			grid-template-areas: "logo bio nav";
			justify-content: stretch;
		}
	}

header.banner a[href="/"] {
	border: 0;
}

.logo {
	grid-area: logo;
	margin: 0 auto;
	padding: 0;
}
	@media(min-width: 800px) {
		.logo {
			padding-right: 0.5em;
		}
	}

.bio {
	grid-area: bio;
	text-align: center;
	line-height: 1;
}
	@media(min-width: 800px) {
		.bio {
			text-align: left;
		}
	}

.bio .name {
	display: block;
	margin: -0.25em auto 0;
	font-size: 2em;
	font-weight: bold;
}

.nav {
	margin: 1em 0;
}
	@media(min-width: 860px) {
		.nav {
			margin: 0;
			text-align: right;
		}
	}

/****
HOME
****/

.intro {
	margin: 3em auto;
	width: 60%;
	padding: 2.5em 0;
	border: 3px solid transparent;
	-webkit-border-image: -webkit-linear-gradient(#ed6ea0 0%, #ec8c69 100%);
	-moz-border-image: -moz-linear-gradient(#ed6ea0 0%, #ec8c69 100%);
	-o-border-image: -o-linear-gradient(#ed6ea0 0%, #ec8c69 100%);
	border-image: linear-gradient(#ed6ea0 0%, #ec8c69 100%);
	border-image-slice: 1;
}

.example {
	/* margin: 0 0 3em; */
	margin: 0;
	display: flex;
}

.example:nth-of-type(odd) {
	flex-direction: row;
}

.example:nth-of-type(even) {
	flex-direction: row-reverse;
}

.example .info {
	width: 50%;
	padding: 5em;
}

.example .info,
.example .image {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.example h2 {
	margin-top: 0;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 2.5em;
	letter-spacing: 5px;
}

.example p {
	margin: 1em 0;
}

.example .image {
	width: 50%;
	padding: 3em;
}

.example img {
	width: 100%;
}

.big-link {
	display: block;
	width: 15em;
	margin: 1em auto;
	padding: 1em;
	text-align: center;
	background-color: #444;
	color: #fff;
	font-size: 1.3em;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.15);
	transition: 0.15s all;
}

.big-link:hover {
	color: #fff;
	background-color: #515151;
	transform: translateY(-1px);
	box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.15);
}

/****
CONTENT
****/

.content {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

/****
WORK
****/

.work {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.work a {
	display: block;
	flex-basis: 100%;
	margin: 1em;
	border: none;
	background-color: rgba(0,0,0,0.05);
	text-align: center;
}
	@media(min-width: 550px) {
		.work a {
			flex-basis: calc(50% - 2em);
		}
	}
	@media(min-width: 800px) {
		.work a {
			flex-basis: calc(100% / 3 - 2.5em);
		}
	}

.work h2 {
	margin-bottom: 0;
}

.work figcaption {
	margin-bottom: 1em;
}

.project img {
	width: 100%;
}

/****
MAIN
****/

main {
	grid-area: main;
	margin: 2em auto;
	padding: 1em 0;
	overflow: hidden;
}

article {
	width: 100%;
	/* margin: 1em auto 4em; */
	margin: 4em auto;
}
	@media(min-width: 580px) {
		article {
			width: 70%;
		}
	}
	@media(min-width: 900px) {
		article {
			width: 55%;
		}
	}

main p {
	max-width: 35em;
	margin: 1em auto;
}

article .intro {
	padding: 1em;
	border: 1px solid currentColor;
}

article .intro figure {
	margin: 1em;
	background: none;
}

article figure {
	display: flex;
	flex-direction: column;
	margin: 1em 0;
	max-width: 100%;
	background-color: rgba(0,0,0,0.05);
}

article figure img,
article .two img {
	width: 100%;
	margin: auto;
	padding: 1em 1em 0 1em;
}
	@media(min-width: 650px) {
		article .two img {
			max-width: calc(50% - 1.15em);
			padding-top: 1em;
			padding-bottom: 0;
		}

		article .two img:first-of-type {
			padding-right: 0.5em;
			padding-left: 0;
		}

		article .two img:last-of-type {
			padding-left: 0.5em;
			padding-right: 0;
		}
	}

article figcaption {
	width: calc(100% - 2.5em);
	margin: 1em auto;
	background-color: rgba(0,0,0,0.1);
	padding: 0.5em;
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
}

.details {
	text-align: center;
}

.details .subtitle {
	display: block;
	font-size: 1rem;
	font-style: italic;
	font-weight: normal;
}

article figure {
	text-align: center;
}

article img {
	max-width: 100%;
}

article iframe {
	width: 100%;
	height: 400px;
	margin: 0.5em auto;
	padding: 0;
	border: 0;
	background: transparent;
}

.swot div {
	margin: 0.5em auto;
}

.swot dt {
	width: 100%;
	float: left;
	clear: left;
	text-align: left;
	font-weight: bold;
}
	@media(min-width: 800px) {
		.swot dt {
			width: 7.5em;
			text-align: right;
		}
	}

.swot dd {
	margin-left: 2em;
	text-indent: -1em;
}
	@media(min-width: 800px) {
		.swot dd {
			margin-left: 9.5em;
		}
	}

.moodboard {
	display: grid;
	grid-template-columns: 1fr;
	align-items: start;
}
	@media(min-width: 500px) {
		.moodboard {
			grid-template-columns: repeat(2, 1fr);
		}
	}

.moodboard img {
	padding: 1em 0;
	margin: 0 auto;
}
	@media(min-width: 500px) {
		.moodboard img {
			padding: 1em;
		}
	}

.spec {
	width: 100%;
	margin: 1em auto;
	text-align: center;
	table-layout: fixed;
}
	@media(min-width: 700px) {
		.spec {
			width: 80%;
		}
	}
	@media(min-width: 950px) {
		.spec {
			width: 65%;
		}
	}

.spec caption {
	border-bottom: 1px solid currentColor;
}

article blockquote {
	margin-left: 0;
	padding-left: 1em;
	border-left: 0.5em solid rgba(0,0,0,0.05);;
}

/****
RESUME
****/

.resume aside {
	float: right;
}

/****
FOOTER
****/

footer {
	grid-area: footer;
	text-align: center;
}

.platforms {
	margin: 0.5em 0;
	text-align: center;
}
	@media(min-width: 1200px) {
		margin: 0 auto;
	}

.banner nav a,
.platforms a {
	display: inline-block;
}

.platforms .svg-icon {
	width: 16px;
	height: 16px;
	border: 0;
}

.banner nav a:not(:last-of-type),
.platforms a:not(:last-of-type) {
	margin-right: .75em;
}
