---
---

@font-face {
  font-family: "Select Mono";
  src: url("/assets/SelectMono-Italic.woff");
}

:root {
  font-size: 16px;
  --spacing: 100px;
}

@media (max-width: 800px) {
  :root {
    font-size: 14px;
    --spacing: 50px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 5vw 10vw;
  margin: auto;
  font-family: "Select Mono", monospace;
  line-height: 1.5;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: 400;
  margin: 1.5rem 0;
}

a,
a:visited {
  color: #444;
}

a:hover {
  color: #000;
}

[lang="zh"] {
  font-family: "Libian TC", sans-serif;
  font-size: 1.2em;
  line-height: 1.25;
}

img,
video {
  display: block;
  max-width: 100%;
  max-height: 800px;
}

code {
  font-family: "Select Mono", monospace;
}

ul,
ol {
  padding-left: 0;
}
  @media (max-width: 800px) {
    ul,
    ol {
      padding-left: 2em;
    }
  }

li {
  margin: 1.5rem 0;
}

p {
  margin: 1.5rem 0;
}

hr {
  max-width: 600px;
  border: 0;
  height: 1px;
  background-color: currentColor;
}

blockquote {
  border-left: 3px solid #eee;
  padding-left: 1em;
}

/* header */

header {
  position: absolute;
  width: 800px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}
  @media (max-width: 1200px) {
    header {
      position: static;
      width: unset;
      max-width: 800px;
      text-align: left;
      transform: unset;
      margin: 0 auto var(--spacing);
    }
  }

header a {
  margin-top: calc(36px / -8);
  margin-left: -120%;
}
  @media (max-width: 1200px) {
    header a {
      margin-top: 0;
      margin-left: calc(36px / -4);
    }
  }

.logo {
  width: 36px;
  height: 36px;
  fill: #444;
}

.logo:hover {
  fill: #000;
}

/* toc */

.toc .chapter-title {
  margin-bottom: 0.5em;
}

.toc .chapter-subtitle {
  margin-top: 0;
  opacity: 0.5;
}

/* intro */

.intro {
  max-width: 800px;
  margin: auto;
}

.intro h1,
.intro p {
  width: 60%;
}
  @media (max-width: 800px) {
    .intro h1,
    .intro p {
      width: 100%;
    }
  }

.intro h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 3rem;
  line-height: 1.2;
}

.name [lang="zh"] {
  margin-top: -0.2em;
  margin-bottom: 0.5em;
}

.name .y {
  margin-right: -0.1em;
}

.intro p {
  font-size: 1.2em;
  margin-bottom: 2em;
}

/* main */

main {
  margin: var(--spacing) auto;

  img {
    display: block;
    margin: auto;
  }
}

.section + .section {
  margin-top: var(--spacing);
}

.columns {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: calc(50% - 1em) calc(50% - 1em);
  gap: 1.5rem 2em;
}
  @media (max-width: 800px) {
    .columns {
      grid-template-columns: 100%;
    }
  }

main h2,
main p,
main li,
main blockquote {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.metadata {
  margin-top: 1.2rem;
  font-size: 0.75em;
  line-height: 2;
}

.metadata div {
  display: flex;
}

.metadata dd {
  margin-left: 1em;
}

.gallery {
  margin: var(--spacing) auto;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
  @media (max-width: 800px) {
    .gallery {
      flex-direction: column;
    }
  }

figcaption {
  margin: 1em 0;
  text-align: center;
}

@media (min-width: 800px) {
  .intentions {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 1em;
    width: max-content;
    margin: auto;
  }

  .intentions > div {
    display: grid;
    grid-column: 1 / span 2;
    grid-template-columns: subgrid;
  }
}

.intentions dt {
  opacity: 0.5;
}
  @media (min-width: 800px) {
    .intentions dt {
      text-align: right;
    }

    .intentions dd {
      margin: 0;
    }
  }

/* index */

.index {
  columns: 3;
}

.index-section + .index-section {
  margin-top: 1em;
}

.index .term-container {
  display: flex;
  flex-wrap: wrap;
}

.index dd {
  margin-left: 0.5em;
  opacity: 0.5;
}

.index .term-container dt::after {
  content: ", ";
}

.index dl {
  display: block;
  width: 100%;
}

.index dl dt::before {
  content: "——";
}

/* 404 */

.four-oh-four {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75vw;
}
  @media (max-width: 800px) {
    .four-oh-four {
      font-size: 2vw;
    }
  }

.four-oh-four pre,
.four-oh-four span,
.four-oh-four p {
  /* width: fit-content; */
  width: 76ch;
  margin: auto;
  text-align: left;
  font-family: "Select Mono", monospace;
}

/* footer */

footer {
  max-width: 800px;
  margin: auto;
  font-size: 0.6rem;
}