body {
	/*background-color:#2c2c2c;*/
	/*background-color:#a9233e;*/
	background-color:#941f36;
}

#content {
	box-sizing:border-box;
	margin:auto;
	color:#fff;
}

#daycycle,#info {
	max-height:90%;
	width:48%;
	float:left;
	color:#fff;
}

#daycycle {
	/*margin-top:-25px;*/
	/*margin-right:2%;*/
	font-size:25em;
	text-align:right;
	font-family:"League Gothic",sans-serif;
	text-shadow:1px 1px 10px rgba(0,0,0,.3);
	opacity:.9;
	line-height:1;
}

#info {
	height:31.2em;
	margin-left:2%;
	overflow-y:scroll;
}

#info td {
	padding:8px 18px;
}

#info table {
	/*margin-top:81px;*/
	border-collapse:collapse;
}

#info .time {
	opacity:.8;
	font-weight:300;
	font-size:.9em;
	/*border-right:5px solid rgba(0,0,0,.15);*/
}

#info tr.event {
	background-color:rgba(255,255,255,.15);
}

#info tr.break {
	text-align:right;
	/*font-family:"League Gothic",sans-serif;*/
	font-size:.7em;
	letter-spacing:2px;
	/*font-style:italic;*/
}

#info tr.break td {
	padding:2px;
}
