<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<div class="container post">

{% include header.html %}

<main role="main">
<article>

<!-- <header class="intro">
  <h1 class="title">{{ page.title }}</h1>
  <p class="year">{{ page.year }}</p>
  <p class="subtitle">{{ page.description }}</p>
  <div class="platforms">
    {% for platform in page.platforms %}
    <a href="{{ platform[0] }}">{{ platform[1] }}</a>
    {% endfor %}
  </div>
  <figure role="group">
    {% if page.embed != null %}
      {% if page.embed contains "vimeo" %}
      <div><iframe src="{{ page.embed }}?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      {% elsif page.embed contains "youtube" %}
      <div><iframe src="{{ page.embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      {% endif %}
    {% else %}
    <img src="{{ page.image }}" alt="{{ page.image-alt }}" loading="lazy">
    {% endif %}
  </figure>
</header> -->

<h1>{{ page.title }}</h1>
<p>{{ page.date | date_to_string }}</p>

{{ content }}

</article>
</main>

{% include footer.html %}

</div>

<!-- SCRIPTS -->
{% include scripts.html %}

</body>
</html>