html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	/*background-color: #F5DEB3;*/
}

#text {
	width: 80%;
	margin: 2% auto 0 auto;
	height: 90%;
	padding: 0;
	font-size: 1.8em;
	overflow: hidden;
	-webkit-column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    column-count: 2;
    column-gap: 30px;
    overflow: hidden;
}

.highlight {
	/*background-color: #F4CA16;*/
	background-color: #FFD700;
}

#text img {
	float: left;
	margin: 10px;
}

.centre {
	margin: auto;
	text-align: center;
}

#nav {
	position: fixed;
}

#nav .column {
	height: 100%;
	width: 2%;
	background-color: #000;
	opacity: 0.1;
}

#nav #previous.column {
	left: 0;
	top: 0;
}

iframe {
	font-size: 2em;
}

iframe #subheader {
	background: #f9f9f9;
}